name: Unit
on:
  workflow_call:
    inputs:
      runsOn:
        description: "Runner to use.  Default is 'ubuntu-latest'"
        required: false
        type: string
        default: "ubuntu-latest"
      nodeVersionFile:
        description: "file to read node version from"
        required: false
        type: string
        default: ".nvmrc"
      timeoutMinutes:
        description: "Timeout in minutes"
        required: false
        type: string
        default: "5"
      ref:
        description: "Ref to checkout.  Should be blank in most cases to let the system determine"
        required: false
        type: string
        default: ""
      yarn:
        description: "Ref to checkout.  Should be blank in most cases to let the system determine"
        required: false
        type: string
        default: ""
jobs:
  publish:
    name: Publish
    runs-on: ${{ inputs.runsOn }}
    timeout-minutes: ${{ fromJSON(inputs.timeoutMinutes) }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
      - name: Setup Node
        id: setup-node
        uses: actions/setup-node@v5
        with:
          node-version-file: ${{ inputs.nodeVersionFile }}
      - name: Enable Corepack
        run: corepack enable
      - name: Get yarn cache directory
        id: get-yarn-cache
        run: |
          echo "dir=$(yarn config get cacheFolder)" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Restore yarn cache directory
        id: restore-yarn-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.get-yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: yarn v3/v4 install
        run: yarn install --immutable
        shell: bash
      - name: Test
        run: |
          yarn test
        shell: bash

